/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

/* form */

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  width: 100%;
  max-width: 72em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
input,
textarea {
  -webkit-appearance: none;
}

/* scroll to top button */
.scroll-top {
  visibility: hidden;
}

@media only screen and ( max-width: 767px ) {
  .scroll-top{
      display:none !important;
  }
}

/* Slider swiper */
.swiper-wrapper img {
  height: 60vh;
}

/* Custom icon */
.icon {
  background: url('../img/icon/railing.png"');
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}