{{if .Site.Data.intro}}
<div class="mx-auto my-10 max-w-6xl">
    <h2 class="text-4xl py-4">{{ index .Site.Data.intro.title | markdownify }}</h2>
    {{ index .Site.Data.intro.short_text | markdownify }}
    <div class="flex flex-wrap justify-center text-gray-300 my-5">
        <a href="referanser/"
            class="duration-200 px-6 py-3 bg-tlgray-800 hover:opacity-80 hover:text-white relative block focus:outline-none text-md text-center">
            Kontakt oss
        </a>
    </div>
</div>
{{end}}