
{{ if .Site.Params.googleMaps }}
{{ range .Site.Data.map }}
{{ if .address }}
<div>
    <iframe
    width="100%"
    height="350"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="http://maps.google.com/maps?&q={{ .address }}
        &t={{ if .mapType }}{{ .mapType }}{{ else }}m{{ end }} {{ if .emableTrafic }}&layer=tc{{ end }}
        &z={{ if .zoomLevel }}{{ .zoomLevel }}{{ else }}10{{ end }}
        &source=embed
        &output=svembed">
</iframe>
</div>
{{ end }}
{{ end }}
{{ end }}