<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    {{- partial "intro.html" . -}}
    <div class="mx-auto my-10 max-w-6xl">
        <div class="mx-3 col-span-3 lg:col-span-2 px-2">
            <h2 class="text-4xl py-4">Referanser og tidligere oppdrag</h2>
            {{- partial "recent.html" . -}}
        </div>
    </div>
    <!-- {{- partial "map.html" . -}} -->

    <div style="height:100%; width: 100%;"> 
        <p>hei</p>
        <div id="map"></div>
        <p>hei</p>
    </div>

    <p>hallo</p>
    <script>
        let map;
        const center = {
            lat: 60.390332,
            lng: 5.3307082
        };
        const zoom = 10;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: zoom,
                center: center,
            });
        }
        
        window.initMap = initMap;
    </script>
    {{- partial "footer.html" . -}}
    <script src="{{ "/js/swiper-bundle.min.js" | relURL }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSYDzlxCory9eamtQAt0siX0Dg8inZEXQ&callback=initMap&v=weekly" defer></script>
    <script>
        var mySwiper = new Swiper(".swiper-container", {
            direction: "horizontal",
            loop: true,
            speed: 550,
            autoplay: {
                delay: 6000,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>

</html>